.dropdown {
    &-menu {
        width: $width-dropdown-menu;
        display: flex;
        margin-top: 2px;
        position: absolute;
        flex-direction: column;
        background-color: $grey;
        z-index: 99999;
        &__item {
            padding: 5px;
            width: 100%;
            &:hover {
                background-color: rgb(100, 100, 100);
            }
        }
    }
}