@mixin template-btn-add($side) {
    & .btn-add {
        display: none;
        position: absolute;
        @if $side == right {
            right: calc(($width-btn-add / 2) * -1);
            top: calc(50% - ($height-btn-add / 2));
        }
        @if $side == bottom {
            right: calc(50% - ($width-btn-add / 2));
            bottom: calc(($height-btn-add / 2) * -1);
        }
    }
    &.active .btn-add {
        display: block;
    }
}

@mixin template-dropdown($side) {
    & .dropdown-menu {
        @if $side == right {
            right: calc(($width-dropdown-menu / 2) * -1);
            top: calc(50% + ($height-btn-add / 2));
        }
        @if $side == bottom {
            right: calc(50% - ($width-dropdown-menu / 2));
            top: calc(($height-btn-add / 2 + 99%));
        }
    }
}

@mixin dropdown-complex($side) {
    @include template-btn-add($side);
    @include template-dropdown($side);
}

.template {
    display: flex;
    position: relative;
    border: 1px dashed black;
    &:hover {
        border: 1px dotted black;
    }
    &-element {
        display: flex;
        align-items: center;
        background-color: aquamarine;
        flex: 1;
        height: 100%;
        &:hover {
            border: 1px dotted black;
        }
    }
    &-block {
        position: relative;
    }
    &-h1 {
        font-size: 32px;
        font-weight: bold;
    }
    &-header {
        min-height: $height-template-header;
        margin-top: 20px;
        align-items: center;
        @include template-btn-add(right);
        @include template-dropdown(right);
    }

    &-main {
        min-height: $height-template-main;
        display: flex;
        margin: 20px 0;
        gap: 10px;
        @include template-btn-add(bottom);
        @include template-dropdown(bottom);
        &__item {
            flex: 1;
            &.active .btn {
                
            }
        }
    }

    &-blog-main .template-main__item:last-child {
        flex: 2;
    }

    &-footer {
        min-height: $height-template-footer;
        @include template-btn-add(right);
        @include template-dropdown(right);
    }
}

.no-border {
    border: none;
}