@mixin btn-add-right($height) {
    right: calc(($width-btn-add / 2) * -1);
    top: calc(($height / 2) - ($height-btn-add / 2));
}
@mixin btn-add-bottom($width) {
    right: calc(($width / 2) - ($width-btn-add / 2));
    bottom: calc(($height-btn-add / 2) * -1);
}

.template {
    display: flex;
    position: relative;
    border: 1px dashed black;

    &.active .btn {
        display: inline-block;
    }
    & .btn {
        display: none;
        position: absolute;
    }
    & .menu-elements {
        display: none;
        &.active {
            position: absolute;
            display: inline-block;
            padding: 5px;
            border-radius: 10px;
            background-color: $grey;
            z-index: 99999;
        }
    }

    &-header {
        min-height: $height-template-header;
        padding: 5px 10px;
        margin-top: 20px;
        align-items: center;
        &.active .btn {
            @include btn-add-right(100%)
        }
        & .menu-elements.active {
            right: calc((2.5% / 2) * -1);
            top: calc((100% / 2) + ($height-btn-add / 2));
        }
    }

    &-main {
        min-height: $height-template-main;
        display: flex;
        margin: 20px 0;
        gap: 10px;
        &.active .btn {
            @include btn-add-bottom(100%);
        }
        & .menu-elements.active {
            right: calc((100% / 2));
            bottom: calc((($height-btn-add / 2) + $height-btn-add) * -1);
        }
        &__item {
            flex: 1;
            &.active .btn {
                @include btn-add-bottom(100%);
            }
        }
    }

    &-blog-main .template-main__item:last-child {
        flex: 2;
    }

    &-footer {
        min-height: $height-template-footer;
        &.active .btn {
            @include btn-add-right(100%);
        }
        & .menu-elements.active {
            right: calc((2.5% / 2) * -1);
            top: calc((100% / 2) + ($height-btn-add / 2));
        }
    }
}