.template-menu {
    margin: 20px 0;
    padding: 10px;
    background-color: $grey;
    border-radius: 10px;
    &__title {
        margin-bottom: 10px;
        font-size: 2.2em;
    }
    &__item {
        min-width: 20%;
        padding: 20px;
        border-radius: 10px;
        font-size: 1.3em;
        background-color: $light-grey;
    }
}