$light-grey: rgb(228, 226, 226);
$grey: rgb(154, 151, 151);;
$dark-grey: rgb(58, 58, 58);

$width-btn-add: 25px;
$height-btn-add: 25px;

$height-template-header: 50px;
$width-template-header: 100%;

$height-template-main: 200px;
$width-template-main: 100%;

$height-template-footer: 50px;
$width-template-footer: 100%;