@import './variables';
@import './buttons';
@import './logo';
@import './header';
@import './template-menu';
@import './template';
@import './dropdown';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-grey;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.hidden {
    display: none;
}